@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Business.EntityLayer.Concrete
@using Business.Helpers
@model List<Product>
<link href="~/cardtemplate/stylesheet.css" rel="stylesheet" />

<section class="light">
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">My Cards Light</div>

		@foreach (var item in Model)
		{
			<article class="postcard light yellow">
				<a class="postcard__img_link" href="/Product/ProductSingle/@item.ProductId">
					<img src="@(item.Images != null && item.Images.Any() ? item.Images.First().ImageUrl : "/images/default.png")" 
						 class="postcard__img" alt="Image Title" />
				</a>
				<div class="postcard__text t-dark">
					<h1 class="postcard__title blue"><a href="/Product/ProductSingle/@item.ProductId">@item.ProductName</a></h1>
					<div class="postcard__subtitle small">
						<time datetime="2020-05-25 12:00:00">
							<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
						</time>
					</div>
					<div class="postcard__bar"></div>
					<div class="postcard__preview-txt">@(item.ProductDescription.Length > 50 ? item.ProductDescription.Substring(0, 50) + "..." : item.ProductDescription)</div>
					<ul class="postcard__tagbox">
						<li class="tag__item"><i class="fas fa-tag mr-2"></i>@item.Category.CategoryName</li>
						<li class="tag__item"><i class="fas fa-clock mr-2"></i>@TimeAgoHelper.GetTimeAgo(item.ProductCreatedDate)</li>
						<li class="tag__item play blue">
							<a href="/Product/ProductSingle/@item.ProductId"><i class="fas fa-play mr-2"></i>İncele</a>
						</li>
					</ul>
				</div>
			</article>
		}
		
		<!-- Sayfalama Linkleri -->
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center mt-4">
				@for (int i = 1; i <= ViewBag.TotalPages; i++)
				{
					<li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
						<a class="page-link" href="/Product/Deneme?page=@i">@i</a>
					</li>
				}
			</ul>
		</nav>
	</div>
</section>

